.ant-progress-text {
  color: rgb(234, 88, 12) !important;
  font-weight: 700;
}
.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.75) !important;
}
.ReactModal__Content.ReactModal__Content--after-open {
  width: auto;
  height: auto;
}
.ReactModal__Content.ReactModal__Content--after-open {
  border: 1px solid rgb(234, 88, 12) !important;
}
