.themeFooter {
  background-image: url("https://demo1.cybersoft.edu.vn/static/media/backapp.b46ef3a1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.footerPadding {
  padding: 80px 0;
}
.footerTitle {
  padding-bottom: 5px;
  font-size: 16px;
}
.footerContent {
  color: #abb7c4;
  line-height: 2;
}

.footerContent ul li:hover {
  color: rgb(251, 146, 60);
  cursor: pointer;
  transition: 0.5s;
}
